
body {
    font-family: Arial, sans-serif;
    
    margin-left: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #0077b5;
    padding: 20px;
    color: rgb(228, 107, 107);
}
/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar Styles */

.navbar h1 {
    margin: 20px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: rgb(207, 126, 126);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}


.profile-header {
    display: -ms-flexbox;
    padding: 20px;
    background-color: white;
    margin: 20px 0;
    border-radius: 8px;

}

.profile-picture img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    -ms-flex-item-align: center;
}

.profile-info h2 {
    margin: 0;
}

.profile-info p {
    font-size: 1rem;
    color: #666;
}

.connect-btn {
    background-color: #0077b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.connect-btn:hover {
    background-color: #005b8f;
}


section {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
    border-radius: 8px;
    text-align: left;
}

section h2 {
    color: #333;
}

ul {
    list-style-type: lower-alpha;
    padding: 0;
}

ul li {
    padding: 8px;
    background-color: #eee;
    margin: 8px 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0077b5;
    color: white;
}
.button{
    background-color: #be6e6e;
    border-radius: 2px;
    break-after: always;

}
